form{
    display: flex;
    justify-content: space-evenly;
}
form input{
    margin-right: 5px;

    border-radius: 12px;
    padding: 10px;
    border-color: blue;
}
form button {
    background-color: blue;

    height: max-content;
    padding: 10px;
    border-radius: 12px;
    border-color: transparent;
    font-size: 100%;
}
ul{
    list-style-type: none;
    display: block;
    background-color: rgba(137, 149, 224, 0.306);
    padding: 1px 10px;
    border-radius: 20px;
}
ul li{
    padding: 10px;
    border: 1px solid black;
    margin: 15px 0px;
    border-radius: 20px;
    background-color: #1682da;
}