body {
  background-color: #b4d99b;
  color: #334340;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-size: 30px;
  margin: 0 auto;
}
form {
  display: flex;
  justify-content: space-evenly;
}
form input {
  margin-right: 5px;
  background-color: rgb(216, 237, 147);
  border-radius: 12px;
  padding: 10px;
  border-color: rgb(0, 0, 0);
}
form button {
  background-color: #cfc44c;
  border: 1px solid black;
  height: max-content;
  padding: 10px;
  border-radius: 12px;
  font-size: 100%;
}

ul {
  list-style-type: none;
  display: block;
  background-color: rgba(204, 199, 103, 0.306);
  padding: 1px 10px;
  border-radius: 20px;
}
ul li {
  padding: 10px;
  border: 1px solid black;
  margin: 15px 0px;
  border-radius: 20px;
  background-color: #f1dd7a;
  display: flex;
  justify-content: space-between;
}
ul li button {
  border-radius: 8px;
  background-color: #cfc44c;
  border: 1px solid black;
}
